@model tGhWebsite.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div id="features">
    <div class="row section group animate-this">
        <div class="col-twelve">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-left">Create a new account.</h4>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="col-four">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-eight">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    <div class="col-four">
                        @Html.LabelFor(m => m.UserDisplayName, "Display Name", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-eight">
                        @Html.TextBoxFor(m => m.UserDisplayName, new { @class = "form-control" })
                    </div>
                    <div class="col-four">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-eight">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                    <div class="col-four">
                        @Html.LabelFor(m => m.ConfirmPassword, "Confirm Password", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-eight">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>

                    <h4 class="text-left">Optional</h4>
                    <div class="col-four">
                        @Html.LabelFor(m => m.UserRealName, "Real Name", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-eight">
                        @Html.TextBoxFor(m => m.UserRealName, new {@class = "form-control"})
                    </div>
                    <div class="col-four">
                        @Html.LabelFor(m => m.UserDateOfBirth, "Date of Birth", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-eight">
                        @Html.TextBoxFor(m => m.UserDateOfBirth, new { @class = "form-control" })
                    </div>
                    <div class="col-four">
                        @Html.LabelFor(m => m.UserLocation, "Location", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-eight">
                        @Html.TextBoxFor(m => m.UserLocation, new { @class = "form-control" })
                    </div>
                    <div class="col-four">
                        @Html.LabelFor(m => m.UserUrl, "Website link", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-eight">
                        @Html.TextBoxFor(m => m.UserUrl, new { @class = "form-control" })
                    </div>
                    <div class="col-four">
                        @Html.LabelFor(m => m.UserSteam, "Steam link", new { @class = "col-md-2 control-label" })
                    </div>
                    <div class="col-eight">
                        @Html.TextBoxFor(m => m.UserSteam, new { @class = "form-control" })
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>

            }
        </div>
    </div>
</div>