@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model List<tGhWebsite.Models.UserRole>
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <div class="grid-form">
            <div class="grid-form1">
                <h2>Index</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>Role Name</th>
                        <th>Role Color Code</th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.UserRoleName)</td>
                            <td>@Html.DisplayFor(modelItem => item.UserRoleColorCode)</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserRoleId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.UserRoleId })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
