@model IEnumerable<tGhWebsite.Models.News>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="content-main">
        <div class="grid-form">
            <div class="grid-form1">

                <h2>Index</h2>

                <p>
                    @Html.ActionLink("Create New", "Create")
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NewsTitel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NewsContext)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NewsDate)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewsTitel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewsContext)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NewsDate)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.NewsId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.NewsId })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
